@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for budget modal */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #262626; /* surface */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #38bdf8; /* secondary */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9E7FFF; /* primary */
}
